envs
node_modules/
build/Release
public/
.npm
.node_repl_history
*.xls
*.csv
*.json
.awspublish*
logs
*.log
*.pid
*.seed
.DS_Store
lib
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
/eshell/history
/eshell/lastdir
.tern-port